{% extends 'base.html' %}

{% block content %}
{% load static %}
{% load custom_tags %}
<div class="profile-container" style="margin-top: 20px;">
    <div class="profile-head">
        <h2>{{ custom_user.username }}</h2>
        {% if custom_user.profile_picture %}
            <div class="profile-image-container">
                <img src="{{ custom_user.profile_picture.url }}" alt="Profile Picture" class="profile-picture"/>
            </div>
        {% endif %}
    </div> 
    
    <p class="status" id="online-status"></p>
    <p class="mb-2"><strong>Details:</strong> {{ custom_user.details }}</p>
    <p class="mb-2"><strong>Data joined:</strong> {{ custom_user.date_joined|date:"F j, Y" }}</p>


    <div class="user-stats">
        <a href="{% url 'related_users' custom_user.id 'followers' %}">Followers: {{ custom_user.followers.count }}</a>
        <a href="{% url 'related_users' custom_user.id 'friends' %}">Friends: {{ custom_user.friends.count }}</a>
        <a href="{% url 'related_users' custom_user.id 'followings' %}">Followings: {{ custom_user.followings.count }}</a>
    </div>

    {% if custom_user.id != user.id %}
        <div class="ml-auto d-flex">
            <form action="{% url 'follow_user' custom_user.id %}" method="POST" class="follow-form" data-user-id="{{ custom_user.id }}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary btn-sm follow-btn mr-3">
                    {% if custom_user in user.followings.all %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            </form>
            
            <form action="{% url 'be_friends' custom_user.id user.id %}" method="POST" class="friends-form" data-user-id="{{ custom_user.id }}">
                {% csrf_token %}
                <button type="submit" 
                    class="btn btn-sm friends-btn 
                    {% if status == 'Request has been sent' %}btn-secondary{% 
                        elif status == 'Friend' %}btn-danger{% 
                        else %}btn-primary{% endif %}" 
                    {% if status == 'Request has been sent' %}disabled{% endif %}>
                    {{ status }}
                </button>
            </form>
        </div>
    {% endif %}

    {% if custom_user.id == user.id %}
        <div class="user-actions">
            <form method="POST" action="{% url 'update_profile' %}">
                {% csrf_token %}
                <button class="btn btn-warning w-100">Change profile details</button>
            </form>
            <br>
            <button class="btn btn-danger w-100" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ user.id }}">Delete account</button>
            <!-- Модальное окно удаления -->
            <div class="modal fade" id="confirmDeleteModal{{ user.id }}" tabindex="-1" aria-labelledby="confirmDeleteLabel{{ user.id }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="confirmDeleteLabel{{ user.id }}">Confirm deletion</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to delete this account? You can't undo it.
                            <div class="mt-3">
                                <label for="password1">Enter your password:</label>
                                <input type="password" class="form-control mb-2" id="password1{{ user.id }}" placeholder="Enter your password" required>
                                <label for="password2">Confirm your password:</label>
                                <input type="password" class="form-control" id="password2{{ user.id }}" placeholder="Confirm your password" required>
                                <div id="passwordMismatch{{ user.id }}" class="text-danger mt-2" style="display: none;">
                                    <small>Passwords do not match!</small>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                            <form action="{% url 'delete_profile' user.id %}" method="POST" id="deleteForm{{ user.id }}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger" id="deleteBtn{{ user.id }}" disabled>Delete</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>

<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for post in posts %}
            <div class="col mb-5">
                <div class="card h-100">
                {% if post.content %}
                    {% if post.content.url|endswith:".png,.jpg,.jpeg,.gif,.webp" %}
                        <img class = "card-img-top" src="{{ post.content.url }}">
                    {% elif post.content.url|endswith:".mp4" %}
                        <div class="ratio ratio-16x9">
                            <video width="320" height="240" controls>
                                <source src="{{ post.content.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        </div>
                    {% else %}
                        {% with post.content.url|get_file_icon as file_icon %}
                            <img src="{% static file_icon %}" alt="File Icon" class="card-img-top">
                        {% endwith %}
                    {% endif %}
                    {% include './post_content.html' %}
                {% elif post.link %}
                    {% if "youtube.com" in post.link or "youtu.be" in post.link or "www.youtube.com" in post.link %}
                        {% with post.link|extract_youtube_id as video_id %}
                            {% if video_id %}
                                {% include './post_link_video.html' %}
                            {% endif %}
                        {% endwith %}
                    {% else %}
                        {% include './post_link.html' %}
                    {% endif %}
                {% elif not post.link and not post.content and post.description %}
                    {% include './post_text.html' %}
                {% endif %}
                </div>
            </div>
            {% empty %}
                <p class="text-center">No posts on this page.</p>
            {% endfor %}
        </div>
    </div>
</section>


<script>
        document.addEventListener('DOMContentLoaded', function() {
        const followForms = document.querySelectorAll('.follow-form');
        const friendsForms = document.querySelectorAll('.friends-form');

        followForms.forEach(form => {
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                const url = this.getAttribute('action');
                const csrfToken = this.querySelector('[name=csrfmiddlewaretoken]').value;

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        const button = this.querySelector('.follow-btn');
                        button.textContent = (data.follow_status === 'followed') ? 'Unfollow' : 'Follow';
                    } else {
                        console.error('Error:', data.message);
                    }
                })
                .catch(error => {
                    console.error('Request failed', error);
                });
            });
        });

        friendsForms.forEach(form => {
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                const url = this.getAttribute('action');
                const csrfToken = this.querySelector('[name=csrfmiddlewaretoken]').value;

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        const button = this.querySelector('.friends-btn');

                        if (data.friend_status === 'sent') {
                            button.textContent = 'Request has been sent';
                            button.classList.remove('btn-primary', 'btn-danger');
                            button.classList.add('btn-secondary');
                            button.disabled = true; // Отключаем только для этого статуса
                        } else if (data.friend_status === 'friend') {
                            button.textContent = 'Unfriend';
                            button.classList.remove('btn-primary', 'btn-secondary');
                            button.classList.add('btn-danger');
                            button.disabled = false;
                        } else if (data.friend_status === 'unfriend') {
                            button.textContent = 'Add Friend';
                            button.classList.remove('btn-secondary', 'btn-danger');
                            button.classList.add('btn-primary');
                            button.disabled = false;
                        }
                    } else {
                        console.error('Error:', data.message);
                    }
                })
                .catch(error => {
                    console.error('Request failed', error);
                });
            });
        });

    });
    
    const socket = new WebSocket('ws://' + window.location.host + '/ws/user_status/');

    socket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        document.getElementById('online-status').textContent = data.status
    };

    function updateStatus() {
        socket.send(JSON.stringify({
            action: 'update_status'
        }));
    }

    setInterval(updateStatus, 1000); 


    document.getElementById('password1{{ user.id }}').addEventListener('input', checkPasswords);
    document.getElementById('password2{{ user.id }}').addEventListener('input', checkPasswords);

    async function checkPasswords() {
        var password1 = document.getElementById('password1{{ user.id }}').value;
        var password2 = document.getElementById('password2{{ user.id }}').value;
        var mismatchMessage = document.getElementById('passwordMismatch{{ user.id }}');
        var deleteBtn = document.getElementById('deleteBtn{{ user.id }}');

        if (password1 && password2) {
            if (password1 === password2) {
                mismatchMessage.style.display = 'none';
                deleteBtn.disabled = false;  // Разблокируем кнопку
            } else {
                mismatchMessage.style.display = 'block';
                deleteBtn.disabled = true;  // Блокируем кнопку
            }
        } else {
            mismatchMessage.style.display = 'none';
            deleteBtn.disabled = true;  // Блокируем кнопку, если поля пустые
        }
    }

    function showCopyNotification(post_id) {
        const notification = document.getElementById(`copy-notification-${post_id}`);
        notification.style.display = 'block'; // Show the notification
                
                // Hide the notification after 2 seconds
        setTimeout(() => {
            notification.style.display = 'none';
        }, 2000);
    }

    async function share(post_id, type) {
        if (type === 'link') {
            const link = `http://view/post/${post_id}`; // работает только через localhost
            if (navigator.clipboard) {
                try {
                    await navigator.clipboard.writeText(link);
                    showCopyNotification();
                } catch (err) {
                    console.error('Ошибка при копировании в буфер обмена:', err);
                }
            } else {
                console.warn('API буфера обмена недоступно');
            }

            showCopyNotification(post_id);
            $('#shareModal' + post_id).modal('hide');  
        } else if (type === 'chats') {
            // Add logic for chats.
        } else if (type === 'groups') {
            // Add logic for groups.
        }
    }

</script>

<style>
.modal.fade .modal-dialog {
    transition: transform 0.3s ease-in-out;
}
.modal-dialog-bottom {
    position: fixed;
    bottom: 0;
    margin: 0;
    width: 100%;
    max-width: none;
    animation: slideUp 0.3s ease-in-out;
}
    
@keyframes slideUp {
    from {
        transform: translateY(100%);
    }
    to {
        transform: translateY(0);
    }
}
    
.profile-container {
    max-width: 600px; /* Optional: limit the width of the profile container */
    margin: 0 auto; /* Center the container */
    padding: 20px; /* Add some padding */
}

.profile-head {
    display: flex; /* Enable flexbox */
    align-items: center; /* Align items vertically centered */
    margin-bottom: 20px; /* Space between header and the rest */
    margin-top: 40px;
}

.profile-image-container {
    width: 100px; /* Set the width */
    height: 100px; /* Set the height */
    overflow: hidden; /* Hide overflow */
    border-radius: 8px; /* Rounded corners */
    position: relative; /* Position relative for image positioning */
    margin-right: 15px; /* Space between the image and text */
}

.profile-picture {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    width: auto; 
    height: 100%; 
    transform: translate(-50%, -50%); 
    object-fit: cover; 
}

.status {
    font-style: italic;
    color: #666;
}

.user-stats {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
}

.user-stats a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.user-stats a:hover {
    text-decoration: underline;
}

.follow-btn {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.follow-btn:hover {
    background-color: #0056b3;
}

.user-actions {
    margin-top: 20px;
}
</style>
{% endblock %}