{% extends 'base.html' %}

{% block content %}
{% load static %}
<div style="margin-top: 100px;">
    <div class="container mt-4">
        <h2>{{ type }}</h2>
        {% for user, status in users.items %}
            <div class="d-flex justify-content-between align-items-center mb-3 p-3 border rounded shadow-sm">
                <div class="card-header text-white d-flex align-items-center">
                    <img {% if user.profile_picture %}src="{{ user.profile_picture.url }}"{% else %}src="{% static 'images/None.png' %}"{% endif %} alt="Profile picture" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                    <a class="h5 text-decoration-none text-primary" href="{% url 'profile' user.id %}" style="text-decoration: none; color: inherit;"><span>{{ user.username }}</span></a>
                </div>

                <div class="ml-auto d-flex">
                    <form action="{% url 'follow_user' user.id %}" method="POST" class="follow-form" data-user-id="{{ user.id }}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary btn-sm follow-btn mr-3">
                            {% if custom_user in user.followings.all %}
                                Unfollow
                            {% else %}
                                Follow
                            {% endif %}
                        </button>
                    </form>
                    
                    <form action="{% url 'be_friends' user.id request.user.id %}" method="POST" class="friends-form" data-user-id="{{ user.id }}">
                        {% csrf_token %}
                        <button type="submit" 
                            class="btn btn-sm friends-btn 
                            {% if status == 'Request has been sent' %}btn-secondary{% 
                                elif status == 'You are friends' %}btn-danger{% 
                                else %}btn-primary{% endif %}" 
                            {% if status == 'Request has been sent' %}disabled{% endif %}>
                            {{ status }}
                        </button>
                    </form>
                </div>
            </div>
        {% empty %}
            <p>No users were found.</p>
        {% endfor %}
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const followForms = document.querySelectorAll('.follow-form');
        const friendsForms = document.querySelectorAll('.friends-form');

        followForms.forEach(form => {
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                const url = this.getAttribute('action');
                const csrfToken = this.querySelector('[name=csrfmiddlewaretoken]').value;

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        const button = this.querySelector('.follow-btn');
                        button.textContent = (data.follow_status === 'followed') ? 'Unfollow' : 'Follow';
                    } else {
                        console.error('Error:', data.message);
                    }
                })
                .catch(error => {
                    console.error('Request failed', error);
                });
            });
        });

        friendsForms.forEach(form => {
            form.addEventListener('submit', function(event) {
                event.preventDefault();

                const url = this.getAttribute('action');
                const csrfToken = this.querySelector('[name=csrfmiddlewaretoken]').value;

                fetch(url, {
                    method: 'POST',
                    headers: {
                        'X-CSRFToken': csrfToken,
                        'Content-Type': 'application/json'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    if (data.status === 'ok') {
                        const button = this.querySelector('.friends-btn');

                        if (data.friend_status === 'sent') {
                            button.textContent = 'Request has been sent';
                            button.classList.remove('btn-primary', 'btn-danger');
                            button.classList.add('btn-secondary');
                            button.disabled = true; // Отключаем только для этого статуса
                        } else if (data.friend_status === 'friend') {
                            button.textContent = 'Unfriend';
                            button.classList.remove('btn-primary', 'btn-secondary');
                            button.classList.add('btn-danger');
                            button.disabled = false;
                        } else if (data.friend_status === 'unfriend') {
                            button.textContent = 'Add Friend';
                            button.classList.remove('btn-secondary', 'btn-danger');
                            button.classList.add('btn-primary');
                            button.disabled = false;
                        }
                    } else {
                        console.error('Error:', data.message);
                    }
                })
                .catch(error => {
                    console.error('Request failed', error);
                });
            });
        });

    });
</script>

{% endblock %}
