{% extends 'base.html' %}

{% block content %}
<div style="margin-top: 80px;">
    <div class="container mt-5">
        <h2 class="text-center mb-4">Update Profile</h2>
        <form method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data">
            {% csrf_token %}

            <div class="text-center mb-3">
                {% if user.profile_picture %}
                    <img src="{{ user.profile_picture.url }}" alt="current profile picture" class="img-fluid profile-image" height="150px" width="100">
                {% endif %}
            </div>

            <div class="form-group">
                <label for="id_media">Upload Profile Picture</label>
                <input type="file" name="profile_picture" id="id_media" class="form-control">
            </div>

            <div class="form-group">
                <label for="id_username">Username</label>
                <textarea name="username" id="id_username" class="form-control" rows="2">{{ user.username }}</textarea>
            </div>

            <div class="form-group">
                <label for="id_details">Details</label>
                <textarea name="details" id="id_details" class="form-control" rows="4">{{ user.details }}</textarea>
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-primary">Submit</button>
            </div>
        </form>
    </div>
</div>
{% endblock %}
