{% extends 'base.html' %}

{% block content %}
<div>
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6" style="margin-top: 100px;">
                <form action="{% url 'create_post' %}" method="POST" enctype="multipart/form-data" class="p-4 border rounded shadow-sm">
                    {% csrf_token %}
                    <h2 class="mb-4 text-center text-muted">Create Post</h2>

                    <div class="mb-3">
                        <label for="id_name" class="form-label text-muted">Name:</label>
                        <input type="text" name="name" id="id_name" class="form-control" required>
                    </div>

                    <div class="mb-3">
                        <label for="id_description" class="form-label text-muted">Description:</label>
                        <input type="text" name="description" id="id_description" class="form-control" required>
                    </div>

                    <div class="mb-3 text-center">
                        <button type="button" class="btn btn-primary">Files</button>
                        <button type="button" class="btn btn-secondary">Links</button>
                    </div>

                    <div class="mb-3">
                        <label for="id_content" class="form-label text-muted">Upload File:</label>
                        <input type="file" name="content" id="id_content" class="form-control">
                    </div>

                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-success w-100">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    const showFilesButton = document.getElementById("showFiles");
    const showLinkButton = document.getElementById("showLink");
    const fileUploadSection = document.getElementById("fileUploadSection");
    const linkSection = document.getElementById("LinkSection");

    fileUploadSection.style.display = "block";
    linkSection.style.display = "none";

    showFilesButton.addEventListener("click", () => {
        fileUploadSection.style.display = "block";
        linkSection.style.display = "none";
        showFilesButton.classList.add("btn-primary");
        showFilesButton.classList.remove("btn-secondary");
        showLinkButton.classList.add("btn-secondary");
        showLinkButton.classList.remove("btn-primary");
    });

    showLinkButton.addEventListener("click", () => {
        linkSection.style.display = "block";
        fileUploadSection.style.display = "none";
        showLinkButton.classList.add("btn-primary");
        showLinkButton.classList.remove("btn-secondary");
        showFilesButton.classList.add("btn-secondary");
        showFilesButton.classList.remove("btn-primary");
    });
</script>

{% endblock %}
