{% extends 'base.html' %}

{% block content %}
{% load custom_tags %}

<input type="hidden" id="user" value="{{ request.user.id }}">
<div class="container mt-4">
    <div class="row" style="margin-top: 100px">
        <div class="col-lg-8 mb-4">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">{{ post.name }}</h2>
                    <button type="button" class="btn btn-link position-absolute top-0 end-0" data-bs-toggle="dropdown" aria-expanded="false">
                        <i class="bi bi-three-dots"></i>
                    </button>
                    
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#shareModal{{ post.id }}">Share link</a></li>
                        {% if request.user == post.creator %}
                            <li><a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ post.id }}">Delete</a></li>
                            <li><form method="GET" action="{% url 'edit_post' post.id %}">
                                <button type="submit" id="edit" class="dropdown-item btn btn-sm btn-warning me-2">Edit</button>
                            </form></li>
                        {% endif %}
                    </ul>

                    <!-- Модальное окно поделиться -->
                    <div class="modal fade" id="shareModal{{ post.id }}" tabindex="-1" aria-labelledby="shareModalLabel{{ post.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-bottom">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="shareModalLabel{{ post.id }}">Share Post</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body text-center">
                                    <p>Select an option to share this post:</p>
                                    <div class="d-flex justify-content-around">
                                        <button class="btn btn-outline-primary" onclick="share({{ post.id }}, 'link')">
                                            <i class="fas fa-link"></i> Link
                                        </button>
                                        <div id="copy-notification-{{post.id}}" class="alert alert-success" style="display: none; position: fixed; z-index: 1050; width: 1300px;">
                                            <strong>Copied!</strong> Link has been copied to the clipboard.
                                        </div>
                                        <button class="btn btn-outline-success" onclick="share({{ post.id }}, 'chats')">
                                            <i class="fas fa-comments"></i> Chats
                                        </button>
                                        <button class="btn btn-outline-warning" onclick="share({{ post.id }}, 'groups')">
                                            <i class="fas fa-users"></i> Groups
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Модальное окно удаления -->
                    <div class="modal fade" id="confirmDeleteModal{{ post.id }}" tabindex="-1" aria-labelledby="confirmDeleteLabel{{ post.id }}" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="confirmDeleteLabel{{ post.id }}">Confirm deletion</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this post? You can't undo it.
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                    <form action="{% url 'delete_post' post.id %}" method="POST">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-danger">Delete</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% if post.content %}
                        <div class="post-content mb-3">
                            {% if post.content.url|endswith:".jpg" or post.content.url|endswith:".png" or post.content.url|endswith:".jpeg" %}
                                <img src="{{ post.content.url }}" alt="img" style="max-width: 500px;" class="img-fluid rounded border-secondary mx-auto d-block">
                            {% elif post.content.url|endswith:".mp4" %}
                                <div class="ratio ratio-16x9">
                                    <video width="320" height="240" controls>
                                        <source src="{{ post.content.url }}" type="video/mp4">
                                        Your browser does not support the video tag.
                                    </video>
                                </div>
                            {% else %}
                                <a href="{{ post.content.url }}" class="btn btn-primary mt-2">Download {{ post.name }}.{{post.content.url|file_extension}}</a>
                            {% endif %}
                        </div>
                    {% elif post.link %}
                        {% if "youtube.com" in post.link or "youtu.be" in post.link or "www.youtube.com" in post.link %}
                            {% with post.link|extract_youtube_id as video_id %}
                                {% if video_id %}
                                    <div class="ratio ratio-16x9">
                                        <iframe width="500" height="300" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen></iframe>
                                    </div>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            <p>Follow <a href="{{ post.link }}">{{ post.link }}</a></p>
                        {% endif %}
                    {% endif %}
                    
                    <button 
                        type="button" 
                        id="{{ post.id }}"
                        class="me-2 p-0 border-0" 
                        onclick="toggleLike('post', this.id)">
                        <i {% if user_liked_post %}class="bi bi-heart-fill"{% else %}class="bi bi-heart"{% endif %} style='color:red'></i> 
                        <span>{{ post.like_to_post.count }}</span>
                    </button>
                    <p class="mt-3"><b>{{ post.creator }}</b> {% if post.description %}{{ post.description }}{% endif %}</p>
                    <i class="mt-3">{{ post.created_at|date:"F j, Y, g:i a" }}</i>
                </div>
            </div>
        </div>
        
        {% include './view_post_comments.html' %}
    </div>
</div>


<script>
    const commentScroll = document.getElementById('all_comments');
    commentScroll.scrollTop = commentScroll.scrollHeight;

    document.getElementById('commentForm').addEventListener('submit', async function(event) {
        event.preventDefault(); // Предотвращаем перезагрузку страницы

        const form = event.target;
        const formData = new FormData(form);

        try {
            const response = await fetch(form.action, {
                method: 'POST',
                body: formData,
                headers: {
                    'X-Requested-With': 'XMLHttpRequest' // Указываем, что это AJAX-запрос
                }
            });

            if (response.ok) {
                const result = await response.json()

                const cardBody = document.getElementById('all_comments');
                const commentDiv = document.createElement('div');
                commentDiv.classList.add('mb-3', 'border-bottom', 'pb-2');
                const user = document.getElementById('user').value

                commentDiv.innerHTML = `
                    <p><b>${result.comment.creator}</b></p>
                    <p id="comment_content_${result.comment.id}" style="display:block">${result.comment.content}</p>
                    <input type="text" name="content2" id="content2_${result.comment.id}" class="form-control" style="display:none" value="${result.comment.content}">
                    <div class="d-flex align-items-center">
                        <button 
                            type="button" 
                            id="${result.comment.id}"
                            class="me-2 p-0 border-0"
                            onclick="toggleLike('comment', ${result.comment.id})">
                            <i {% if user_liked_comments|get_value:comment.id %}class="bi bi-hand-thumbs-up-fill"{% else %}class="bi bi-hand-thumbs-up"{% endif %} style='color:green'></i> <span>0</span>
                        </button>
                        
                        ${result.comment.creator_id == user ? `
                            <button type="button" id="edit_${result.comment.id}" class="btn btn-sm btn-warning me-2" style="display:block;" onclick="Edit(this.id, ${result.comment.id})">
                                <i class="bi bi-pencil"></i>
                            </button>
                            <button type="button" id="submit_${result.comment.id}" class="btn btn-sm btn-success me-2" style="display:none;" onclick="Edit(this.id, ${result.comment.id})">
                                <i class="bi bi-check"></i>
                            </button>
                            <button type="button" id="cancel_${result.comment.id}" class="btn btn-sm btn-secondary me-2" style="display:none;" onclick="Edit(this.id, ${result.comment.id})">
                                <i class="bi bi-x"></i>
                            </button>
                            <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal${result.comment.id}">
                                <i class="bi bi-trash"></i>
                            </button>
                            <div class="modal fade" id="confirmDeleteModal${result.comment.id}" tabindex="-1" aria-labelledby="confirmDeleteLabel${result.comment.id}" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="confirmDeleteLabel${result.comment.id}">Confirm deletion</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete this comment? You can't undo it.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                            <form action="/delete/comment/${result.comment.id}" method="POST">
                                                {% csrf_token %}
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        ` : ''}
                    </div>`;

                // Добавляем новый комментарий в конец card-body
                cardBody.appendChild(commentDiv);

                // Очищаем поле ввода
                form.reset();
                const commentScroll = document.getElementById('all_comments');
                commentScroll.scrollTop = commentScroll.scrollHeight;
                
            } else {
                const error = await response.json();
                alert(error.message || 'Failed to add comment. Please try again.');
            }
        } catch (error) {
            console.error('Error:', error);
            alert('An unexpected error occurred. Please try again.');
        }
    });

    function showCopyNotification(post_id) {
        const notification = document.getElementById(`copy-notification-${post_id}`);
        notification.style.display = 'block'; 
                
        setTimeout(() => {
            notification.style.display = 'none';
        }, 2000);
    }

    async function share(post_id, type) {
        if (type === 'link') {
            const link = `http://view/post/${post_id}`; // работает только через localhost
            if (navigator.clipboard) {
                try {
                    await navigator.clipboard.writeText(link);
                    showCopyNotification();
                } catch (err) {
                    console.error('Error in copying to clipboard:', err);
                }
            } else {
                console.warn('API clipboard is not allowed');
            }

            showCopyNotification(post_id);
            $('#shareModal' + post_id).modal('hide');  
        } else if (type === 'chats') {
            // Add logic for chats.
        } else if (type === 'groups') {
            // Add logic for groups.
        }
    }

    async function toggleLike(objectType, objectId) { 
        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const isPost = objectType === 'post';

        const adjustedUrl = isPost ? `/post/like/${objectId}/` : `/comment/like/${objectId}/`;
        try {
            const response = await fetch(adjustedUrl, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({}),
            });

            if (response.ok) {
                const data = await response.json();

                const likeButton = document.getElementById(objectId);
                const icon = likeButton.querySelector('i');

                if (isPost) {
                    if (data.liked) {
                        icon.classList.remove('bi-heart')
                        icon.classList.add('bi-heart-fill')
                    } else {
                        icon.classList.remove('bi-heart-fill')
                        icon.classList.add('bi-heart')
                    }
                } else {
     
                    if (data.liked) {
                        icon.classList.remove('bi-hand-thumbs-up')
                        icon.classList.add('bi-hand-thumbs-up-fill')
                    } else {
                        icon.classList.remove('bi-hand-thumbs-up-fill')
                        icon.classList.add('bi-hand-thumbs-up')
                    }
                }
                likeButton.querySelector('span').textContent = data.likes_count;
            }
        } catch (error) {
            console.error('Error during fetch operation:', error);
        }
    }


    async function Edit(id, comment_id) {
        var content = document.getElementById(`comment_content_${comment_id}`)
        var editing_content = document.getElementById(`content2_${comment_id}`)

        const edit = document.getElementById(`edit_${comment_id}`)
        const submit = document.getElementById(`submit_${comment_id}`)
        const cancel = document.getElementById(`cancel_${comment_id}`)

        if (id == `edit_${comment_id}`) {
            content.style.display = 'none'
            editing_content.style.display = 'block'
            cancel.style.display = 'block'
            submit.style.display = 'block'
            edit.style.display = 'none'

        } else if (id == `cancel_${comment_id}`) {
            editing_content.style.display = 'none'
            content.style.display = 'block'
            cancel.style.display = 'none'
            submit.style.display = 'none'
            edit.style.display = 'block'

        } else {
            const url = `/edit/comment/${comment_id}/`
            const response = await fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': document.querySelector('[name=csrfmiddlewaretoken]').value
                },
                body: JSON.stringify({ content: editing_content.value })
            });

            if (response.ok) {
                const data = await response.json();
                if (data.success) {
                    content.textContent = data.content; 
                    editing_content.style.display = 'none';
                    content.style.display = 'block';
                    cancel.style.display = 'none';
                    submit.style.display = 'none';
                    edit.style.display = 'block';
       
                } else {
                    console.error('Error:', data.error);
                }
            } else {
                console.error('Error with editing comment', response.status);
            }

        }
    }

</script>
{% endblock %}