{% extends 'base.html' %}

{% block content %}
{% load custom_tags %}
{% load static %}
<body style="margin-top: 100px;">
    <h2 style="margin-left:50px;"><b>Posts for the last 3 days</b></h2>
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <div class="row">
                    {% for user, posts in user_posts.items %}
                        {% for post in posts %}
                        {% if "youtube.com" in post.link or "youtu.be" in post.link or post.content.url|endswith:".png,.jpg,.jpeg,.gif,.webp,.mp4" %}
                                <div class="col-md-6 mb-4">
                                    <div class="card h-100">                
                                        <div class="card-header bg-dark text-white d-flex align-items-center">
                                            <img {% if user.profile_picture %}src="{{ user.profile_picture.url }}"{% else %}src="{% static 'images/None.png' %}"{% endif %} alt="Profile picture" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                            <a href="{% url 'profile' user.id %}"><span>{{ user.username }}</span></a>
                                        </div>
                                        
                                        {% if post.content and not post.content.url|endswith:".mp4" %}
                                            <img class="card-img-top" src="{{ post.content.url }}" alt="Post content">

                                        {% elif post.content.url|endswith:".mp4" %}
                                            <div class="ratio ratio-16x9">
                                                <video width="320" height="240" controls>
                                                    <source src="{{ post.content.url }}" type="video/mp4">
                                                    Your browser does not support the video tag.
                                                </video>
                                            </div>

                                        {% elif post.link %}
                                            {% with post.link|extract_youtube_id as video_id %}
                                                {% if video_id %}
                                                    <div>
                                                        <iframe class="card-img-top" src="https://www.youtube.com/embed/{{ video_id }}" frameborder="0" allowfullscreen></iframe>
                                                    </div>
                                                {% endif %}
                                            {% endwith %}
                                        {% endif %}
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% empty %}
                        <p class="text-center">No posts for {{ user.username }}.</p>
                    {% endfor %}
                </div>
            </div>

            <!-- Right column for text and links -->
            <div class="col-md-4">
                {% for user, posts in user_posts.items %}
                    {% for post in posts %}
                        {% if post.description and not post.link and not post.content %}
                            <div class="card-header bg-dark text-white d-flex align-items-center">
                                <img {% if user.profile_picture %}src="{{ user.profile_picture.url }}"{% else %}src= "{% static 'images/None.png' %}"{% endif %} alt="Profile picture" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                <span>{{ user.username }}</span>
                            </div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.name }}</h5>
                                    <p class="card-text">{{ post.description }}</p>
                                </div>
                            </div>
                        {% elif not "youtube.com" in post.link and not "youtu.be" in post.link and post.link %}
                            <div class="card-header bg-dark text-white d-flex align-items-center">
                                <img {% if user.profile_picture %}src="{{ user.profile_picture.url }}"{% else %}src= "{% static 'images/None.png' %}"{% endif %} alt="Profile picture" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                <span>{{ user.username }}</span>
                            </div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.name }}</h5>
                                    <a href="{{ post.link }}" class="btn btn-outline-dark">Follow {{ post.link }}</a>
                                </div>
                            </div>
                        {% elif not post.content.url|endswith:".png,.jpg,.jpeg,.gif,.webp,.mp4" %}
                            <div class="card-header bg-dark text-white d-flex align-items-center">
                                <img {% if user.profile_picture %}src="{{ user.profile_picture.url }}"{% else %}src= "{% static 'images/None.png' %}"{% endif %} alt="Profile picture" class="rounded-circle me-2" style="width: 40px; height: 40px;">
                                <a href="{% url 'profile' user.id %}"><span>{{ user.username }}</span></a>
                            </div>
                            <div class="card mb-4">
                                <div class="card-body">
                                    <h5 class="card-title">{{ post.name }}.{{post.content.url|file_extension}}</h5>
                                    <a href="{{ post.content.url }}" class="btn btn-primary mt-2">Download file</a>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% empty %}
                    <p class="text-center">No text posts.</p>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
