{% extends 'base.html' %}

{% block content %}
<div class="container py-4 mt-5">
    <h1>Notifications for {{ custom_user.username }}</h1>
    <button type="button" class="btn btn-sm btn-danger me-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ notification.id }}">
        Delete <b>all</b> notifications
    </button>

    <ul class="list-unstyled" id="notification-list">
        {% for n in notifications.all %}
            <li class="mb-3 p-3 border-bottom">
                <div class="d-flex justify-content-between">
                    <div class="notification-details">
                        <h3 class="h5 mb-2">{{ n.name }}</h3>
                        <p>{{ n.description }}</p>
                        <small>{{ n.created_at }}</small>
                    </div>
                    <div class="d-flex align-items-center">
                        <!-- forms for accept/reject -->
                        {% if n.sender != n.receiver and n.name == 'Friends' and n.answer is None and 'stopped' not in n.description and 'accepted' not in n.description and 'rejected' not in n.description %}
                            <form action="{% url 'accept_friend_request' n.id %}" method="POST" class="mx-2 accept-form">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-success">Accept</button>
                            </form>
                            <form action="{% url 'reject_friend_request' n.id %}" method="POST" class="mx-2 reject-form">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-sm btn-danger">Reject</button>
                            </form>
                        {% endif %}
                        <!-- Delete button -->
                        <button type="button" class="btn btn-sm btn-danger me-2" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal{{ n.id }}">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                </div>
            </li>
        {% empty %}
            <p>No notifications found.</p>
        {% endfor %}
    </ul>
</div>

<script>
document.querySelectorAll('.accept-form').forEach(form => {
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        const url = this.getAttribute('action');

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCsrfToken(),
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'ok') {
                this.parentElement.innerHTML = `<p>${data.message}</p>`; // Update notification
            } else {
                console.error('Error:', data.message);
            }
        })
        .catch(error => {
            console.error('Request failed', error);
        });
    });
});

document.querySelectorAll('.reject-form').forEach(form => {
    form.addEventListener('submit', function(event) {
        event.preventDefault();

        const url = this.getAttribute('action');

        fetch(url, {
            method: 'POST',
            headers: {
                'X-CSRFToken': getCsrfToken(),
                'Content-Type': 'application/json'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'ok') {
                this.parentElement.innerHTML = `<p>${data.message}</p>`; // Update notification
            } else {
                console.error('Error:', data.message);
            }
        })
        .catch(error => {
            console.error('Request failed', error);
        });
    });
});

</script>
{% endblock %}
